<h1>{{ section.settings.page__title }}</h1>

{%  schema  %} 
{
  "name": "Lotion Landing Page",
  "settings": [
    {
      "type": "text",
      "id": "page__title",
      "label": "Título da Página"
    }
  ],
  "presets": [
    {
      "name": "Lotion LP"
    }
  ]
}
{% endschema %}